body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:778px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3816 {
  position:absolute;
  left:250px;
  top:162px;
  width:860px;
  height:778px;
}
#u3817 {
  position:absolute;
  left:2px;
  top:381px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3818 {
  position:absolute;
  left:265px;
  top:180px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3819 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3822 {
  position:absolute;
  left:0px;
  top:1090px;
  width:1110px;
  height:82px;
  text-align:left;
}
#u3823 {
  position:absolute;
  left:2px;
  top:33px;
  width:1106px;
  word-wrap:break-word;
}
#u3824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3825 {
  position:absolute;
  left:0px;
  top:970px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u3826 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u3827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3827 {
  position:absolute;
  left:10px;
  top:1017px;
  width:57px;
  height:48px;
}
#u3828 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3829 {
  position:absolute;
  left:189px;
  top:970px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u3830 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u3831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3831 {
  position:absolute;
  left:199px;
  top:1017px;
  width:57px;
  height:48px;
}
#u3832 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3833 {
  position:absolute;
  left:378px;
  top:970px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u3834 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u3835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3835 {
  position:absolute;
  left:388px;
  top:1017px;
  width:57px;
  height:48px;
}
#u3836 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3837 {
  position:absolute;
  left:567px;
  top:970px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u3838 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u3839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3839 {
  position:absolute;
  left:577px;
  top:1017px;
  width:57px;
  height:48px;
}
#u3840 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3841 {
  position:absolute;
  left:756px;
  top:970px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u3842 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u3843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3843 {
  position:absolute;
  left:766px;
  top:1017px;
  width:57px;
  height:48px;
}
#u3844 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3845 {
  position:absolute;
  left:945px;
  top:970px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u3846 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u3847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3847 {
  position:absolute;
  left:1010px;
  top:1031px;
  width:34px;
  height:34px;
}
#u3848 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3849 {
  position:absolute;
  left:1053px;
  top:1031px;
  width:34px;
  height:34px;
}
#u3850 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3851 {
  position:absolute;
  left:968px;
  top:1031px;
  width:34px;
  height:34px;
}
#u3852 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:56px;
}
#u3853 {
  position:absolute;
  left:1012px;
  top:1104px;
  width:83px;
  height:56px;
}
#u3854 {
  position:absolute;
  left:2px;
  top:20px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3856 {
  position:absolute;
  left:1055px;
  top:1054px;
  width:40px;
  height:40px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u3858 {
  position:absolute;
  left:1062px;
  top:1064px;
  width:26px;
  height:20px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3861 {
  position:absolute;
  left:1055px;
  top:1104px;
  width:40px;
  height:40px;
}
#u3862 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u3863 {
  position:absolute;
  left:1063px;
  top:1116px;
  width:25px;
  height:16px;
}
#u3864 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3866 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:115px;
}
#u3867 {
  position:absolute;
  left:2px;
  top:50px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u3868 {
  position:absolute;
  left:24px;
  top:33px;
  width:300px;
  height:50px;
}
#u3869 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u3870 {
  position:absolute;
  left:1031px;
  top:9px;
  width:68px;
  height:20px;
  text-align:right;
}
#u3871 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u3872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u3873 {
  position:absolute;
  left:1053px;
  top:47px;
  width:32px;
  height:27px;
}
#u3874 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3876 {
  position:absolute;
  left:996px;
  top:46px;
  width:32px;
  height:32px;
}
#u3877 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3879 {
  position:absolute;
  left:718px;
  top:106px;
  width:392px;
  height:225px;
}
#u3880 {
  position:absolute;
  left:2px;
  top:104px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3883 {
  position:absolute;
  left:810px;
  top:118px;
  width:231px;
  height:51px;
}
#u3884 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u3885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3885 {
  position:absolute;
  left:1051px;
  top:144px;
  width:29px;
  height:32px;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3887 {
  position:absolute;
  left:1051px;
  top:118px;
  width:45px;
  height:16px;
  color:#FF0000;
}
#u3888 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
}
#u3889 {
  position:absolute;
  left:730px;
  top:120px;
  width:66px;
  height:49px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:16px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3893 {
  position:absolute;
  left:810px;
  top:205px;
  width:231px;
  height:51px;
}
#u3894 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u3895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3895 {
  position:absolute;
  left:1051px;
  top:231px;
  width:29px;
  height:32px;
}
#u3896 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3897 {
  position:absolute;
  left:1051px;
  top:205px;
  width:45px;
  height:16px;
  color:#FF0000;
}
#u3898 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u3899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
}
#u3899 {
  position:absolute;
  left:730px;
  top:207px;
  width:66px;
  height:49px;
}
#u3900 {
  position:absolute;
  left:2px;
  top:16px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3901 {
  position:absolute;
  left:718px;
  top:280px;
  width:392px;
  height:51px;
  text-align:left;
}
#u3902 {
  position:absolute;
  left:2px;
  top:2px;
  width:388px;
  word-wrap:break-word;
}
#u3903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3903 {
  position:absolute;
  left:960px;
  top:285px;
  width:140px;
  height:40px;
}
#u3904 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u3905 {
  position:absolute;
  left:956px;
  top:106px;
  width:112px;
  height:115px;
  color:#169BD5;
}
#u3906 {
  position:absolute;
  left:2px;
  top:18px;
  width:108px;
  word-wrap:break-word;
}
#u3907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3909 {
  position:absolute;
  left:412px;
  top:45px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u3910 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u3911 {
  position:absolute;
  left:493px;
  top:54px;
  width:19px;
  height:11px;
}
#u3912 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3914 {
  position:absolute;
  left:545px;
  top:46px;
  width:95px;
  height:26px;
  font-size:18px;
}
#u3915 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3917 {
  position:absolute;
  left:674px;
  top:47px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u3918 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u3919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3920 {
  position:absolute;
  left:784px;
  top:48px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u3921 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u3922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3922 {
  position:absolute;
  left:939px;
  top:48px;
  width:28px;
  height:28px;
}
#u3923 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3925 {
  position:absolute;
  left:0px;
  top:106px;
  width:1110px;
  height:83px;
}
#u3926 {
  position:absolute;
  left:2px;
  top:34px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3927 {
  position:absolute;
  left:17px;
  top:127px;
  width:903px;
  height:47px;
}
#u3927_input {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3929 {
  position:absolute;
  left:930px;
  top:127px;
  width:47px;
  height:47px;
}
#u3929_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3930 {
  position:absolute;
  left:941px;
  top:136px;
  width:28px;
  height:28px;
}
#u3931 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u3933 {
  position:absolute;
  left:1056px;
  top:118px;
  width:36px;
  height:33px;
}
#u3934 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3935 {
  position:absolute;
  left:1052px;
  top:159px;
  width:44px;
  height:20px;
}
#u3936 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:36px;
}
#u3938 {
  position:absolute;
  left:1009px;
  top:118px;
  width:22px;
  height:36px;
}
#u3939 {
  position:absolute;
  left:2px;
  top:10px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3940 {
  position:absolute;
  left:998px;
  top:159px;
  width:44px;
  height:20px;
}
#u3941 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u3942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3943 {
  position:absolute;
  left:0px;
  top:106px;
  width:1110px;
  height:83px;
  font-size:16px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:32px;
  width:1106px;
  word-wrap:break-word;
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3947 {
  position:absolute;
  left:55px;
  top:162px;
  width:88px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u3949 {
  position:absolute;
  left:0px;
  top:162px;
  width:47px;
  height:47px;
}
#u3950 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3951 {
  position:absolute;
  left:77px;
  top:189px;
  width:83px;
  height:20px;
  text-align:left;
}
#u3952 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3953 {
  position:absolute;
  left:57px;
  top:189px;
  width:20px;
  height:20px;
}
#u3954 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3955 {
  position:absolute;
  left:8px;
  top:232px;
  width:69px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u3956 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3957 {
  position:absolute;
  left:8px;
  top:315px;
  width:53px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u3958 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3959 {
  position:absolute;
  left:8px;
  top:273px;
  width:69px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u3960 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:2px;
}
#u3962 {
  position:absolute;
  left:331px;
  top:315px;
  width:700px;
  height:1px;
}
#u3963 {
  position:absolute;
  left:2px;
  top:-8px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u3964 {
  position:absolute;
  left:331px;
  top:297px;
  width:37px;
  height:37px;
}
#u3965 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u3966 {
  position:absolute;
  left:497px;
  top:297px;
  width:37px;
  height:37px;
}
#u3967 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u3968 {
  position:absolute;
  left:663px;
  top:297px;
  width:37px;
  height:37px;
}
#u3969 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u3970 {
  position:absolute;
  left:828px;
  top:297px;
  width:37px;
  height:37px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u3972 {
  position:absolute;
  left:994px;
  top:297px;
  width:37px;
  height:37px;
}
#u3973 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3974 {
  position:absolute;
  left:321px;
  top:342px;
  width:57px;
  height:16px;
  text-align:center;
}
#u3975 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3976 {
  position:absolute;
  left:487px;
  top:344px;
  width:57px;
  height:16px;
  text-align:center;
}
#u3977 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3978 {
  position:absolute;
  left:653px;
  top:344px;
  width:57px;
  height:16px;
  text-align:center;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3980 {
  position:absolute;
  left:811px;
  top:344px;
  width:71px;
  height:16px;
  text-align:center;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3982 {
  position:absolute;
  left:984px;
  top:344px;
  width:57px;
  height:16px;
  text-align:center;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#339933;
}
#u3984 {
  position:absolute;
  left:265px;
  top:222px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#339933;
}
#u3985 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3986 {
  position:absolute;
  left:265px;
  top:254px;
  width:454px;
  height:19px;
  font-size:16px;
}
#u3987 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:274px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3988 {
  position:absolute;
  left:275px;
  top:539px;
  width:810px;
  height:274px;
  font-size:16px;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:2px;
}
#u3990 {
  position:absolute;
  left:275px;
  top:528px;
  width:810px;
  height:1px;
}
#u3991 {
  position:absolute;
  left:2px;
  top:-8px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u3992 {
  position:absolute;
  left:785px;
  top:837px;
  width:300px;
  height:93px;
  text-align:right;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  position:absolute;
  left:355px;
  top:398px;
  width:241px;
  height:51px;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  position:absolute;
  left:760px;
  top:416px;
  width:23px;
  height:16px;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3999 {
  position:absolute;
  left:835px;
  top:416px;
  width:45px;
  height:16px;
  color:#FF0000;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4001 {
  position:absolute;
  left:928px;
  top:416px;
  width:43px;
  height:16px;
  text-align:right;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4004 {
  position:absolute;
  left:355px;
  top:459px;
  width:241px;
  height:51px;
}
#u4005 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u4006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4006 {
  position:absolute;
  left:760px;
  top:477px;
  width:23px;
  height:16px;
}
#u4007 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4008 {
  position:absolute;
  left:835px;
  top:477px;
  width:45px;
  height:16px;
  color:#FF0000;
}
#u4009 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4010 {
  position:absolute;
  left:928px;
  top:477px;
  width:43px;
  height:16px;
  text-align:right;
}
#u4011 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
}
#u4012 {
  position:absolute;
  left:275px;
  top:400px;
  width:66px;
  height:49px;
}
#u4013 {
  position:absolute;
  left:2px;
  top:16px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
}
#u4014 {
  position:absolute;
  left:275px;
  top:461px;
  width:66px;
  height:49px;
}
#u4015 {
  position:absolute;
  left:2px;
  top:16px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
