@charset "UTF-8";
/* ==========================================================================
   Mixin
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* Fonts */
/* Path */
html {
  position: relative;
  min-height: 100%; }

body {
  -webkit-overflow-scrolling: touch; }

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e9ecef; }

a {
  transition: all 0.2s ease; }

.text-gray-3 {
  color: #dee2e6; }

.text-gray-6 {
  color: #6c757d; }

.text-black {
  color: #000; }

.text-fb-message {
  color: #00a1f1; }

.text-line {
  color: #4ecd00; }

.font-small {
  font-size: 87%; }

p:only-child, p:last-child {
  margin-bottom: 0; }

[class^="text-row-"], [class*="text-row-"] {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.text-row-1 {
  -webkit-line-clamp: 1; }

.text-row-2 {
  height: 3rem;
  -webkit-line-clamp: 2; }

.text-row-3 {
  height: 3.5rem;
  -webkit-line-clamp: 3; }

.title .title-line {
  position: relative; }
.title .title-line span {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 1rem;
  background: #fff; }
.title .title-line:before, .title .title-line:after {
  position: absolute;
  z-index: 0;
  top: 50%;
  display: block;
  width: 50%;
  height: 1px;
  background: #babfc8;
  content: ''; }
.title .title-line:before {
  left: 0; }
.title .title-line:after {
  right: 0; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.nav-main .nav-link {
  position: relative; }
.nav-main .badge {
  position: absolute;
  right: 3px;
  top: 3px; }
.nav-main .btn-outline-primary {
  border: 1px solid #ced4da;
  border-top: 0;
  border-bottom: 0; }

.pushy .list-group .list-group-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0; }
.pushy .list-group .list-group-item i {
  margin-right: 5px;
  line-height: 1; }

.nav-search .nav-link {
  padding: 1rem;
  color: #fe8600;
  border: 1px solid #fe8600; }
.nav-search .nav-link:hover, .nav-search .nav-link.active {
  background-color: #fe8600;
  color: #fff; }

.nav-tabs .nav-item {
  margin-right: .5rem; }
.nav-tabs .nav-item:last-child, .nav-tabs .nav-item:only-child {
  margin-right: 0; }

.nav-fixed {
  position: fixed;
  right: 1rem;
  bottom: 0; }

.btn-block.btn-fb, .btn-block.btn-google {
  width: 100%;
  height: 52px;
  line-height: 50px; }
.btn-block.btn-fb .float-left, .btn-block.btn-google .float-left {
  width: 50px;
  height: 50px;
  font-size: 40px;
  line-height: 50px; }
.btn-block.btn-fb {
  color: #fff;
  background-color: #3a589a; }
.btn-block.btn-fb:hover {
  background-color: #2f4779 !important; }
.btn-block.btn-google {
  color: #fff;
  background-color: #dd4b39; }
.btn-block.btn-google:hover {
  background-color: #c54232; }

.bootstrap-touchspin .btn-outline {
  background-color: #fff;
  border: 1px solid #ced4da; }
.bootstrap-touchspin .btn-up {
  border-left: 0; }
.bootstrap-touchspin .btn-down {
  border-right: 0; }

#footer a {
  color: #dee2e6; }
#footer a:hover {
  color: #fff; }

.slider-kv {
  background: url(../images/ui/ajax-loader.gif) center center no-repeat; }
.slider-kv .slider-item {
  display: none;
  overflow: hidden; }

.slick-initialized .slider-kv .slider-item {
  display: block; }

.item .figure {
  position: relative; }

@media (max-width: 991.98px) {
  .member ul {
    border-top: 1px solid #dee2e6; }
  .member ul li {
    margin-right: 1rem;
    display: inline-block; }
  .member ul li:last-child {
    margin-right: 0; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.section-step {
  opacity: 0;
  height: 0; }
.section-step.section-active {
  animation: fadeIn .5s;
  opacity: 1;
  height: auto; }

.chk {
  display: none; }
.chk + label {
  display: block;
  margin: 0;
  cursor: pointer; }
.chk:checked + label {
  border-color: #1a6795 !important; }
.chk:checked + label .fa-check {
  display: block; }
.chk:checked + label .bg-gray-6 {
  background: #1a6795; }
.chk:checked + label .box-price > div {
  color: #fff !important; }
.chk:checked + label .box-price-month {
  background-color: #1a6795; }
.chk:checked + label .box-price-total {
  background-color: #fe8600; }

.box-select {
  position: relative; }
.box-select .fa-check {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  display: none; }
.box-select .bg-gray-6.text-row-2 {
  height: 3.2rem; }

#section-main .custom-radio {
  margin: 0;
  padding: 0; }
#section-main .custom-radio .custom-control-label {
  padding: .25rem 1rem;
  border: 1px solid #6c757d;
  cursor: pointer; }
#section-main .custom-radio .custom-control-label:hover {
  background-color: #1a6795;
  border-color: #1a6795;
  color: #fff; }
#section-main .custom-radio .custom-control-label::before {
  background: none; }
#section-main .custom-radio .custom-control-input {
  display: none; }
#section-main .custom-radio .custom-control-input:checked ~ .custom-control-label {
  background-color: #1a6795;
  border-color: #1a6795;
  color: #fff; }
#section-main .custom-radio .custom-control-input:checked ~ .custom-control-label::before, #section-main .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background: none; }

#section-checkout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000; }

.title-pk .col {
  position: relative; }
.title-pk .col .lead {
  line-height: 30px; }
.title-pk .col:before {
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  content: '';
  border-style: solid; }
.title-pk .col-official {
  padding-right: 7rem;
  background-color: #fe8600;
  text-align: right; }
.title-pk .col-official:before {
  left: 0;
  border-width: 15px 15px 15px 0;
  border-color: #fff #fe8600 #fff #fff; }
.title-pk .col-telecom {
  padding-left: 7rem;
  background-color: #17a2b8; }
.title-pk .col-telecom:before {
  right: 0;
  border-width: 15px 0 15px 15px;
  border-color: #fff #fff #fff #17a2b8; }

.border-gray-6 {
  border-color: #6c757d !important; }

.bg-gradient-dark {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%); }

.bg-login {
  background: url(../images/ui//bg-login.jpg) no-repeat;
  background-size: cover; }

.bg-gray-3 {
  background-color: #dee2e6; }

.bg-gray-6 {
  background-color: #6c757d; }

.shadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }

.list-inline .list-inline-item {
  padding-left: .8rem;
  border-left: 1px solid #ced4da;
  line-height: 1; }
.list-inline .list-inline-item:first-child, .list-inline .list-inline-item:only-child {
  padding-left: 0;
  border: none; }

.modal-open .modal {
  display: flex !important;
  align-items: center !important; }
.modal-open .modal .modal-dialog {
  flex-grow: 1; }

.badge-new {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOGQ4ZCIvPjxzdG9wIG9mZnNldD0iOSUiIHN0b3AtY29sb3I9IiNjNzMwMzAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYzVlNWUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(180deg, #ed8d8d 0%, #c73030 9%, #ec5e5e 100%);
  background-image: -webkit-linear-gradient(180deg, #ed8d8d 0%, #c73030 9%, #ec5e5e 100%);
  background-image: linear-gradient(-90deg, #ed8d8d 0%, #c73030 9%, #ec5e5e 100%);
  box-shadow: 1.5px 2.598px 2px 0px rgba(0, 0, 0, 0.27);
  position: absolute;
  left: -1px;
  top: 6px;
  color: #fff; }

.badge-cht {
  background: #3d8ce3; }

.badge-fetnet {
  background: #d14237; }

.badge-twm {
  background: #e5883d; }

.badge-tstar {
  background: #9c2875; }

.badge-aptg {
  background: #78be28; }

.telecom {
  height: 45px; }
.telecom.h-auto {
  height: auto; }
.telecom .badge {
  color: #fff;
  border-radius: .25rem; }

.badge-pill {
  border-radius: 10rem; }

.progress {
  border-radius: 1.5rem; }

a.card:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

[data-toggle="collapse"]:after {
  float: right;
  font-family: FontAwesome; }
[data-toggle="collapse"][aria-expanded="true"]:after {
  content: '\f146'; }
[data-toggle="collapse"][aria-expanded="false"]:after {
  content: '\f0fe'; }
[data-toggle="collapse"]:after {
  content: '\f0fe'; }
.pushy [data-toggle="collapse"][aria-expanded="true"]:after {
  content: '\f107'; }
.pushy [data-toggle="collapse"][aria-expanded="false"]:after {
  content: '\f105'; }
.pushy [data-toggle="collapse"]:after {
  content: '\f105'; }

.dropdown-menu-w100 {
  position: fixed !important;
  top: 52px;
  left: 0;
  right: 0;
  min-width: auto;
  width: 100%;
  background: #fff; }

.dropdown-cart {
  width: 400px; }

.ekko-lightbox {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 0 !important; }

.ekko-lightbox-container {
  position: relative; }

.ekko-lightbox-container > div.ekko-lightbox-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%; }

.ekko-lightbox iframe {
  width: 100%;
  height: 100%; }

.ekko-lightbox-nav-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex; }

.ekko-lightbox-nav-overlay a {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
  color: #000;
  font-size: 30px;
  z-index: 1; }

.ekko-lightbox-nav-overlay a > * {
  -ms-flex-positive: 1;
  flex-grow: 1; }

.ekko-lightbox-nav-overlay a > :focus {
  outline: none; }

.ekko-lightbox-nav-overlay a span {
  padding: 0 30px; }

.ekko-lightbox-nav-overlay a:last-child span {
  text-align: right; }

.ekko-lightbox-nav-overlay a:hover {
  text-decoration: none; }

.ekko-lightbox-nav-overlay a:focus {
  outline: none; }

.ekko-lightbox-nav-overlay a.disabled {
  cursor: default;
  visibility: hidden; }

.ekko-lightbox a:hover {
  opacity: 1;
  text-decoration: none; }

.ekko-lightbox .modal-dialog {
  display: none; }

.ekko-lightbox .modal-footer {
  text-align: left; }

.ekko-lightbox-loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.ekko-lightbox-loader > div {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center; }

.ekko-lightbox-loader > div > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  animation: a 2s infinite ease-in-out; }

.ekko-lightbox-loader > div > div:last-child {
  animation-delay: -1s; }

.modal-dialog .ekko-lightbox-loader > div > div {
  background-color: #333; }

@keyframes a {
  0%,to {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
/*! Pushy - v1.1.0 - 2017-1-30
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */ }
.pushy ul:first-child {
  margin-top: 10px; }
.pushy.pushy-left {
  left: 0; }
.pushy.pushy-right {
  right: 0; }

.pushy-content {
  visibility: hidden; }

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0); }

.pushy-open-left #container, .pushy-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0); }

.pushy-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0); }

.pushy-open-right #container, .pushy-open-right .push {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0); }

.pushy-open-left .pushy, .pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.pushy-open-left .pushy-content, .pushy-open-right .pushy-content {
  visibility: visible; }

/* Menu Transitions */
#container, .pushy, .push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy-open-left .site-overlay, .pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Submenu Appearance */
/* Slider */
.slick-slider {
  overflow: hidden;
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
.slick-list:focus {
  outline: none; }
.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
.slick-track:before, .slick-track:after {
  content: "";
  display: table; }
.slick-track:after {
  clear: both; }
.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
[dir="rtl"] .slick-slide {
  float: right; }
.slick-slide img {
  display: block; }
.slick-slide.slick-loading img {
  display: none; }
.slick-slide.dragging img {
  pointer-events: none; }
.slick-initialized .slick-slide {
  display: block; }
.slick-loading .slick-slide {
  visibility: hidden; }
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-loading .slick-list {
  background: url(../images/ui/ajax-loader.gif) center center no-repeat #fff; }

/* Arrows */
.slick-prev, .slick-next {
  position: absolute;
  z-index: 100;
  display: block;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 25%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25; }
.slick-prev:before, .slick-next:before {
  font-family: "FontAwesome";
  font-size: 1.875rem;
  line-height: 1;
  color: #000;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 5px; }
[dir="rtl"] .slick-prev {
  left: auto;
  right: 5px; }
.slick-prev:before {
  content: "";
  content: ""; }
[dir="rtl"] .slick-prev:before {
  content: ""; }

.slick-next {
  right: 5px; }
[dir="rtl"] .slick-next {
  left: 5px;
  right: auto; }
.slick-next:before {
  content: ""; }
[dir="rtl"] .slick-next:before {
  content: ""; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 20px;
  z-index: 5;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }
.slick-dots li button {
  border: 0;
  background-color: transparent;
  display: block;
  height: 12px;
  width: 12px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  border: 1px solid #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%; }
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
  background-color: #fff; }
.slick-dots li.slick-active button {
  background-color: #fff; }

.slider-single .slick-prev, .slider-single .slick-next, .slider-items-4 .slick-prev, .slider-items-4 .slick-next {
  top: 50%;
  margin-top: -.5rem; }
