.container, .container-fluid {
  background-size: cover; }

.badge {
  display: block !important;
  max-width: 8rem;
  min-height: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left; }
