<!doctype html>
<html  lang="zh-Hant-TW">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SAMSUNG Galaxy S10+ 128GB | 五大電信4G資費方案 - 手機王購物</title>
    <meta name="keywords" content="samsung galaxy s10+128GB,中華電信,遠傳電信,台灣大哥大,亞太電信,台灣之星,便宜上網吃到飽,低資費">
	<meta name="description" content="SAMSUNG Galaxy S10 搭配中華電信、遠傳電信、台灣大哥大、亞太電信，精選最便宜吃到飽、低資費優惠方案，手機王購物替您把關最優惠的五大電信資費方案，門市辦不到的隱藏版資費推薦，專人到府替您服務，免出門免排隊。">
    <!--fb og-->
    <meta property="og:title" content="SAMSUNG Galaxy S10+ | 五大電信資費方案">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://store.sogi.com.tw/products/samsung-galaxy-s10-128gb-cht-4g-np-699-30/2061">
    <meta property="og:site_name" content="手機王購物"/>
    <meta property="og:description" content="三星 S 系列首款 Infinity-O O 極限全螢幕手機 SAMSUNG Galaxy S10+，採用 O 型前鏡頭加極窄邊框設計，配備 6.4 吋 QHD+ 螢幕">
    <meta property="og:image" content="http://store.sogi.com.tw/assets/images/og-image.jpg" >
    <meta content="zh_TW" property="og:locale">
    <link rel="image_src" href="http://store.sogi.com.tw/assets/images/og-image.jpg" >
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/assets/stylesheets/custom.css">
    <link rel="stylesheet" href="css/event.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/assets/javascripts/vendor/jquery.min.js"></script>
<!--    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>-->
</head>

<body id="top">
    <nav class="pushy pushy-right bg-white">
        <!-- module: nav-mobile -->
        <div id="nav-mobile"></div>
        <!-- module: ./nav-mobile -->
    </nav>

    <div class="site-overlay"></div>

    <header id="header" class="sticky-top bg-white border-bottom push">
        <div class="container">
            <nav class="navbar navbar-expand-lg align-items-center justify-content-between p-0">
                <h1 class="navbar-brand">
                    <a href="index.html">
                        <img src="/assets/images/ui/logo-store.png" srcset="/assets/images/ui/logo-store@2x.png 2x" class="logo img-fluid" alt="手機王購物">
                    </a>
                </h1>
                <div class="d-lg-none">
                    <a href="" class="text-dark">
                        <i class="fas fa-lg fa-fw fa-shopping-cart"></i>
                    </a>
                    <a href="" class="text-dark">
                        <i class="fas fa-lg fa-fw fa-user-circle"></i>
                    </a>
                    <div class="dropdown d-inline">
                    <a href="" class="text-dark" data-toggle="dropdown">
                        <i class="fas fa-lg fa-fw fa-search"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-w100 p-0">
                                        <div class="container py-2">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                <div class="input-group input-group-lg bg-gray-3">
                                                    <input type="text" class="form-control bg-gray-3 border-0">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-link" type="button">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="col-2 text-center">
                                                    <a class="" href="search-mobile.html">
                                                        <i class="fas fa-2x fa-mobile-alt"></i>
                                                        <div class="font-small">找手機</div>
                                                    </a>
                                                </div>
                                                <div class="col-2 text-center">
                                                    <a class="" href="search-charge.html">
                                                        <i class="fas fa-2x fa-chart-bar"></i>
                                                        <div class="font-small">找資費</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    </div>

                    <button class="navbar-toggler menu-btn px-1" type="button">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <div class="nav-main d-none d-lg-block">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link p-3 text-black font-weight-bold" href="#" data-toggle="dropdown">
                                手機專案 <i class="fas fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-w100 p-0">
                                <div class="container py-2">
                                    <ul class="nav justify-content-center">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><span>Apple</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><span>SAMSUNG</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><span>HTC</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><span>Sony</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><span>LG</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3 text-black font-weight-bold" href="#">這樣也能搭</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3 text-black font-weight-bold" href="#">電信開講</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3 text-black font-weight-bold" href="#">配件團購</a>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <div class="dropdown">
                                    <a class="p-3 btn btn-outline-primary" href="" data-toggle="dropdown">
                                        <i class="fas fa-lg fa-w fa-shopping-cart"></i>
                                        <span class="badge badge-danger badge-pill">99</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-cart dropdown-menu-right p-2">
                                        <div class="row align-items-center">
                                            <div class="col text-center">
                                                <img class="img-fluid" src="assets/images/uploads/prod1_160x120.jpg" srcset="assets/images/uploads/prod1_360x270.jpg 2x" alt="">
                                            </div>
                                            <div class="col-7">
                                                <div class="text-black">ASUS ZenFone Max Plus (M1)</div>
                                                <div class="font-small">
                                                    預繳: 要，可抵月租, 顏色: 太空灰<br>
                                                    中華電信 4G 攜碼 月繳699 上網吃到飽
                                                </div>
                                            </div>
                                            <div class="col font-small">
                                                <div class="text-danger">$1,500</div>
                                                <div class="">1件</div>
                                                <a class="" href=""><u>刪除</u></a>
                                            </div>
                                            <div class="w-100 m-1"></div>
                                            <div class="col text-center">
                                                <img class="img-fluid" src="assets/images/uploads/prod1_160x120.jpg" srcset="assets/images/uploads/prod1_360x270.jpg 2x" alt="">
                                            </div>
                                            <div class="col-7">
                                                <div class="text-black">ASUS ZenFone Max Plus (M1)</div>
                                                <div class="font-small">
                                                    預繳: 要，可抵月租, 顏色: 太空灰<br>
                                                    中華電信 4G 攜碼 月繳699 上網吃到飽
                                                </div>
                                            </div>
                                            <div class="col font-small">
                                                <div class="text-danger">$1,500</div>
                                                <div class="">1件</div>
                                                <a class="" href=""><u>刪除</u></a>
                                            </div>
                                            <div class="w-100 m-1"><hr></div>
                                            <div class="col">
                                                共計 2 件商品<br>
                                                NT$ <span class="text-danger h5">3,000</span>
                                            </div>
                                            <div class="col text-right">
                                                <a class="btn btn-primary" href="cart-step1.html">前往結帳</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <a class="p-3 btn btn-outline-primary" href="" data-toggle="dropdown">
                                        <i class="fas fa-lg fa-w fa-user-circle"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right p-0">
                                        <a href="member-order-list.html" class="dropdown-item">我的訂單</a>
                                        <a href="member-track.html" class="dropdown-item">我的追蹤</a>
                                        <a href="member-review.html" class="dropdown-item">我的評價</a>
                                        <a href="member-coupon.html" class="dropdown-item">優惠券</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">登出</a>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <a class="p-3 btn btn-outline-primary" href="" data-toggle="dropdown">
                                        <i class="fas fa-lg fa-w fa-search"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-w100 p-0">
                                        <div class="container py-2">
                                            <div class="row align-items-center">
                                                <div class="col-10">
                                                <div class="input-group input-group-lg bg-gray-3">
                                                    <input type="text" class="form-control bg-gray-3 border-0">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-link" type="button">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="col text-center">
                                                    <a class="" href="search-mobile.html">
                                                        <i class="fas fa-2x fa-mobile-alt"></i>
                                                        <div class="font-small">找手機</div>
                                                    </a>
                                                </div>
                                                <div class="col text-center">
                                                    <a class="" href="search-charge.html">
                                                        <i class="fas fa-2x fa-chart-bar"></i>
                                                        <div class="font-small">找資費</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </nav>


        </div>
    </header>

    <!-- Event區塊 -->
    <div class="push" id="event">
        <div id="kv" class="container-fluid py-10" style="background:url(img/bg-kv.png) center 0 no-repeat #18191e">
            <div class="container">
                <a class="d-block text-center" href="">
                    <img class="img-fluid" src="img/kv.png" alt="">
                </a>
                <div class="row">
                    <div class="col text-center">
                        <a href="">
                        <!-- PC Show -->
                        <div class="d-none d-md-block">

                            <img class="img-fluid" src="img/slogan-desktop.png" alt="">
                        </div>
                        <!-- MB Show -->
                        <div class="d-md-none">
                            <img class="img-fluid" src="img/slogan-mobile.png" alt="">
                        </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a href="">
                            <img class="img-fluid" src="img/slogan1.png" alt="">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href="">
                            <img class="img-fluid" src="img/slogan2.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 列表樣式1 / class=section-groups / 限制一行一定要四格 -->
        <div class="container-fluid py-10" style="background-image:url(img/bg2.jpg)">
            <div class="container-fluid px-0">
                <div class="h5 my-2 p-2 title-faded">
                    <div class="container">
                        列表樣式1，限制一行一定要四格
                    </div>
                </div>
            </div>
            <div class="container section-groups">
                <div class="row no-gutters">
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger text-truncate">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                </div>
            </div>
        </div>

        <!-- 列表樣式2 / class=section-decks / 限制一行一定要四格 -->
        <!-- 滿版: class="container-fluid / 固定寬: class="container"-->
        <div class="container-fluid py-10" style="background-image:url(img/bg-primary.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="h5 my-2 p-2 title-primary">列表樣式2，限制一行一定要四格</div>
                    </div>
                </div>
            </div>
            <div class="container section-decks">
                <div class="row">
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger text-truncate">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                </div>
            </div>
        </div>

        <!-- 列表樣式3 / class=section-box / 無限制一行幾個，固定寬背景範例 -->
        <div class="container py-5 px-0" style="background-image:url(img/bg-danger.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="h5 my-2 p-2 title-info">列表樣式3，無限制一行幾個，固定寬背景範例</div>
                    </div>
                </div>
            </div>
            <div class="container section-box">
                <div class="row">
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger text-truncate">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                    <div class="col-6 col-md-3 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                </div>
            </div>
        </div>

        <!-- 主打樣式1 / class=section-promo / 限制一行兩個 -->
        <div class="container-fluid py-10" style="background-color:#1a4704;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="h5 my-2 p-2 title-success">主打樣式1，限制一行兩個</div>
                    </div>
                </div>
            </div>
            <div class="container section-promo">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a class="d-block my-2" href="" target="_blank">
                            <img class="img-fluid" src="img/pic1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                            <div class="col-6 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                            <div class="col-6 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 主打樣式2 / class=section-headlines -->
        <div class="container py-5 px-0" style="background-color:#fc0;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="h5 my-2 p-2 title-success">主打樣式2</div>
                    </div>
                </div>
            </div>
            <div class="container section-headlines">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a class="d-block my-2" href="" target="_blank">
                            <img class="img-fluid" src="img/pic1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                            <div class="col-12 my-2">
                                <div class="h4">
                                    <a class="text-black" href="">紐西蘭Blue70－核心浮力褲</a>
                                </div>
                                <p>新式自動充氣睡墊，打開自動充氣嘴約2~3分鐘即可充氣完畢，省時省力。<br>
                                    側邊組合式鈕扣設計，可無限擴充，單人睡墊快速變身大通鋪睡墊<br>
                                方便露營野餐、兒童爬行遊玩、居家臨時加床使用。</p>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="img/pic1.jpg">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="img/pic1.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 影音樣式 / class=section-multi / 無限制一行幾個 -->
        <div class="container-fluid py-10" style="background-image:url(img/bg2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="h5 my-2 p-2 title-warning">影音樣式</div>
                    </div>
                </div>
            </div>
            <div class="container section-multi">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <iframe class="my-2" width="100%" height="335" src="https://www.youtube.com/embed/1NCZ9hgjIzI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                            <div class="col-6 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                            <div class="col-6 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container section-promo">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a class="card bg-dark text-white border-0 my-2" href="article.html">
                            <img class="card-img" src="https://d3rnte5hhy1v9i.cloudfront.net/www/ProductionArticleCoverImage/17263/headline/11.jpg" alt="">
                            <div class="card-img-overlay d-flex p-0">
                                <div class="align-self-end p-2 pt-4 bg-gradient-dark w-100">
                                    <div class="h5 card-title">
                                        時尚雙背蓋設計 HTC Desire 650開箱實測
                                    </div>
                                    <p class="card-text text-row-2">
                                        主打新潮時尚的 HTC Desire 650，背蓋採用雙觸感設計，擁有 50% 平滑圓弧、50% 流線刻紋，規格定位中階入門，價格則是 6 千有找。HTC Desire 650 搭載 5 吋 720P 螢幕、Qualcomm Snapdragon 400, 1.6GHz 四核心處理器
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                            <div class="col-6 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                            <div class="col-6 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 圖文樣式 / class=section-article / 無限制一行幾個 -->
        <div class="container-fluid py-10" style="background-color:#eee;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="h5 my-2 p-2 title-danger">圖文樣式</div>
                    </div>
                </div>
            </div>
            <div class="container section-promo">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a class="card bg-dark text-white border-0 my-2" href="article.html">
                            <img class="card-img" src="https://d3rnte5hhy1v9i.cloudfront.net/www/ProductionArticleCoverImage/17263/headline/11.jpg" alt="">
                            <div class="card-img-overlay d-flex p-0">
                                <div class="align-self-end p-2 pt-4 bg-gradient-dark w-100">
                                    <div class="h5 card-title">
                                        時尚雙背蓋設計 HTC Desire 650開箱實測
                                    </div>
                                    <p class="card-text text-row-2">
                                        主打新潮時尚的 HTC Desire 650，背蓋採用雙觸感設計，擁有 50% 平滑圓弧、50% 流線刻紋，規格定位中階入門，價格則是 6 千有找。HTC Desire 650 搭載 5 吋 720P 螢幕、Qualcomm Snapdragon 400, 1.6GHz 四核心處理器
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                            <div class="col-6 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge badge-danger">刷Yahoo聯名卡最高再回饋6%</span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                            <div class="col-6 item my-2">
                                <div class="box bg-white p-2">
                                <figure class="figure d-block text-center m-0">
                                    <span class="badge badge-new">新品</span>
                                    <a href="">
                                        <img class="img-fluid mb-2" src="/assets/images/uploads/prod1_360x270.jpg" alt="">
                                    </a>
                                </figure>
                                <span class="badge"></span>
                                <a class="text-black text-row-2" href="">
                                    小米 紅米5
                                </a>
                                <div class="my-1">
                                    <a href="">
                                        <span class="text-black font-small">最低專案價</span>
                                        <span class="text-danger font-weight-bold">$15,000</span>
                                    </a>
                                </div>
                                <a class="btn btn-outline-primary btn-block" href="product-detail.html">立即了解</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 活動樣式 / class=section-event / 文字 -->
        <div class="container-fluid py-10" style="background-color:#eee;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="h5 my-2 p-2 title-danger">活動樣式</div>
                    </div>
                </div>
            </div>
            <div class="container section-event">
                <div class="row">
                    <div class="col-12">

                        <p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
<p>Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
<p>院不公才面中根顧施來法望……力力門評本己兩、說可當音統人生動際同有不獎格，強世導世，部口助那內，自己來陽生件行個不間分解母；見的寶地我：不減報了等手他；把一除國地現有素？海車助的性裡兒保兒了問量人識事，孩最輕她單臺天景人長意人地出原油舞有說。</p>
                        <p>
                            <strong>Strong</strong> <small>small</small> <span style="color:#f00;">color</span>
                            <span style="font-size:30px;">20px</span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="push bg-primary">
        <div class="container py-4">
            <div class="row">
                <div class="col-4 col-md-2 mb-3">
                    <div class="h6 text-white">關於我們</div>
                    <ul class="list-unstyled m-0">
                        <li><a href=""><small>關於我們</small></a></li>
                        <li><a href=""><small>服務條款</small></a></li>
                        <li><a href=""><small>隱私權政策</small></a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2 mb-3">
                    <div class="h6 text-white">服務說明</div>
                    <ul class="list-unstyled m-0">
                        <li><a href=""><small>如何購買</small></a></li>
                        <li><a href=""><small>到府服務</small></a></li>
                        <li><a href=""><small>門號申辦</small></a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2 mb-3">
                    <div class="h6 text-white">付款資訊</div>
                    <ul class="list-unstyled m-0">
                        <li><a href=""><small>綠界科技</small></a></li>
                        <li><a href=""><small>付款說明</small></a></li>
                        <li><a href=""><small>發票說明</small></a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2 mb-3">
                    <div class="h6 text-white">售後服務</div>
                    <ul class="list-unstyled m-0">
                        <li><a href=""><small>產品保固</small></a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2 mb-3">
                    <div class="h6 text-white">聯絡我們</div>
                    <ul class="list-unstyled m-0">
                        <li><a href=""><small>客戶服務</small></a></li>
                        <li><a href=""><small>合作洽談</small></a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2 mb-3">
                    <div class="h6 text-white">關注我們</div>
                    <div class="row">
                        <div class="col d-none d-lg-block">
                            <img class="img-fluid rounded" src="/assets/images/ui/line-qrcode.png" alt="">
                            <div class="text-gray-3 text-center">
                                <small>LINE ID: @flp0362y</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-lg-none">
                                <a href="d-block" class="text-gray-3"><i class="fab fa-2x fa-line"></i></a>
                            </div>
                            <div class="d-block">
                                <a href="" class="text-gray-3"><i class="fab fa-2x fa-facebook"></i></a>
                            </div>
                            <div class="d-block">
                                <a href="" class="text-gray-3"><i class="fab fa-2x fa-google-plus-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-lg-7 mt-2">
                <div class="col-lg-12">
                    <small class="text-gray-3">
                        <div class="d-inline-block mr-2">Copyright &copy; 1999-2018 首機網路股份有限公司 All rights reserved.</div>
                        <div class="d-inline-block">本網站已依台灣網站內容分級規定處理</div>
                    </small>
                </div>
                <div class="col-lg-12">
                    <div class="mt-2">
                        <img class="img-fluid" src="/assets/images/ui/logo-sogi.png" srcset="assets/images/ui/logo-sogi@2x.png 2x" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- global -->
    <script src="/assets/javascripts/vendor/popper.min.js"></script>
    <script src="/assets/javascripts/vendor/bootstrap.min.js"></script>
    <script src="/assets/javascripts/vendor/bootstrap-touchspin.min.js"></script>
    <script src="/assets/javascripts/vendor/jquery.pushy.min.js"></script>
    <script src="/assets/javascripts/vendor/jquery.slick.min.js"></script>
    <script src="/assets/javascripts/vendor/jquery.readmore.min.js"></script>
    <script src="/assets/javascripts/custom.js"></script>
    <div id="fb-root"></div>

    <!-- module include -->
    <script src="../../assets/javascripts/function/module.js"></script>

</body>
</html>
