body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:553px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4873 {
  position:absolute;
  left:250px;
  top:162px;
  width:860px;
  height:553px;
}
#u4874 {
  position:absolute;
  left:2px;
  top:268px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4875 {
  position:absolute;
  left:265px;
  top:180px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4876 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4880 {
  position:absolute;
  left:0px;
  top:864px;
  width:165px;
  height:65px;
  font-size:16px;
}
#u4881 {
  position:absolute;
  left:2px;
  top:23px;
  width:161px;
  word-wrap:break-word;
}
#u4882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4882 {
  position:absolute;
  left:10px;
  top:939px;
  width:68px;
  height:192px;
}
#u4883 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4884 {
  position:absolute;
  left:189px;
  top:864px;
  width:165px;
  height:65px;
  font-size:16px;
}
#u4885 {
  position:absolute;
  left:2px;
  top:23px;
  width:161px;
  word-wrap:break-word;
}
#u4886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4886 {
  position:absolute;
  left:199px;
  top:939px;
  width:68px;
  height:192px;
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4888 {
  position:absolute;
  left:378px;
  top:864px;
  width:165px;
  height:65px;
  font-size:16px;
}
#u4889 {
  position:absolute;
  left:2px;
  top:23px;
  width:161px;
  word-wrap:break-word;
}
#u4890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4890 {
  position:absolute;
  left:388px;
  top:939px;
  width:68px;
  height:192px;
}
#u4891 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4892 {
  position:absolute;
  left:567px;
  top:864px;
  width:165px;
  height:65px;
  font-size:16px;
}
#u4893 {
  position:absolute;
  left:2px;
  top:23px;
  width:161px;
  word-wrap:break-word;
}
#u4894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4894 {
  position:absolute;
  left:577px;
  top:939px;
  width:68px;
  height:192px;
}
#u4895 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4896 {
  position:absolute;
  left:756px;
  top:864px;
  width:165px;
  height:65px;
  font-size:16px;
}
#u4897 {
  position:absolute;
  left:2px;
  top:23px;
  width:161px;
  word-wrap:break-word;
}
#u4898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4898 {
  position:absolute;
  left:766px;
  top:939px;
  width:68px;
  height:192px;
}
#u4899 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4900 {
  position:absolute;
  left:945px;
  top:864px;
  width:165px;
  height:65px;
  font-size:16px;
}
#u4901 {
  position:absolute;
  left:2px;
  top:23px;
  width:161px;
  word-wrap:break-word;
}
#u4902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4902 {
  position:absolute;
  left:955px;
  top:939px;
  width:68px;
  height:192px;
}
#u4903 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4905 {
  position:absolute;
  left:0px;
  top:1272px;
  width:1110px;
  height:82px;
  text-align:left;
}
#u4906 {
  position:absolute;
  left:2px;
  top:33px;
  width:1106px;
  word-wrap:break-word;
}
#u4907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4908 {
  position:absolute;
  left:0px;
  top:740px;
  width:1110px;
  height:102px;
  font-size:16px;
}
#u4909 {
  position:absolute;
  left:2px;
  top:43px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4910 {
  position:absolute;
  left:140px;
  top:809px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4911 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u4912 {
  position:absolute;
  left:152px;
  top:760px;
  width:50px;
  height:39px;
}
#u4913 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4914 {
  position:absolute;
  left:519px;
  top:809px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4915 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4916 {
  position:absolute;
  left:530px;
  top:749px;
  width:50px;
  height:50px;
}
#u4917 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4918 {
  position:absolute;
  left:895px;
  top:809px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4919 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u4920 {
  position:absolute;
  left:911px;
  top:749px;
  width:42px;
  height:50px;
}
#u4921 {
  position:absolute;
  left:2px;
  top:17px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4923 {
  position:absolute;
  left:0px;
  top:1152px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u4924 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u4925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4925 {
  position:absolute;
  left:10px;
  top:1199px;
  width:57px;
  height:48px;
}
#u4926 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4927 {
  position:absolute;
  left:189px;
  top:1152px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u4928 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u4929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4929 {
  position:absolute;
  left:199px;
  top:1199px;
  width:57px;
  height:48px;
}
#u4930 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4931 {
  position:absolute;
  left:378px;
  top:1152px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u4932 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u4933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4933 {
  position:absolute;
  left:388px;
  top:1199px;
  width:57px;
  height:48px;
}
#u4934 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4935 {
  position:absolute;
  left:567px;
  top:1152px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u4936 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u4937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4937 {
  position:absolute;
  left:577px;
  top:1199px;
  width:57px;
  height:48px;
}
#u4938 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4939 {
  position:absolute;
  left:756px;
  top:1152px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u4940 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u4941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4941 {
  position:absolute;
  left:766px;
  top:1199px;
  width:57px;
  height:48px;
}
#u4942 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4943 {
  position:absolute;
  left:945px;
  top:1152px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u4944 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u4945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u4945 {
  position:absolute;
  left:1010px;
  top:1213px;
  width:34px;
  height:34px;
}
#u4946 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u4947 {
  position:absolute;
  left:1053px;
  top:1213px;
  width:34px;
  height:34px;
}
#u4948 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u4949 {
  position:absolute;
  left:968px;
  top:1213px;
  width:34px;
  height:34px;
}
#u4950 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:56px;
}
#u4951 {
  position:absolute;
  left:1012px;
  top:1286px;
  width:83px;
  height:56px;
}
#u4952 {
  position:absolute;
  left:2px;
  top:20px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4954 {
  position:absolute;
  left:1055px;
  top:1236px;
  width:40px;
  height:40px;
}
#u4955 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u4956 {
  position:absolute;
  left:1062px;
  top:1246px;
  width:26px;
  height:20px;
}
#u4957 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4959 {
  position:absolute;
  left:1055px;
  top:1286px;
  width:40px;
  height:40px;
}
#u4960 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u4961 {
  position:absolute;
  left:1063px;
  top:1298px;
  width:25px;
  height:16px;
}
#u4962 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4964 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:115px;
}
#u4965 {
  position:absolute;
  left:2px;
  top:50px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u4966 {
  position:absolute;
  left:24px;
  top:33px;
  width:300px;
  height:50px;
}
#u4967 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4968 {
  position:absolute;
  left:1031px;
  top:9px;
  width:68px;
  height:20px;
  text-align:right;
}
#u4969 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u4970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u4971 {
  position:absolute;
  left:1053px;
  top:47px;
  width:32px;
  height:27px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4974 {
  position:absolute;
  left:996px;
  top:46px;
  width:32px;
  height:32px;
}
#u4975 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4977 {
  position:absolute;
  left:718px;
  top:106px;
  width:392px;
  height:225px;
}
#u4978 {
  position:absolute;
  left:2px;
  top:104px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4981 {
  position:absolute;
  left:810px;
  top:118px;
  width:231px;
  height:51px;
}
#u4982 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4983 {
  position:absolute;
  left:1051px;
  top:144px;
  width:29px;
  height:32px;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4985 {
  position:absolute;
  left:1051px;
  top:118px;
  width:45px;
  height:16px;
  color:#FF0000;
}
#u4986 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
}
#u4987 {
  position:absolute;
  left:730px;
  top:120px;
  width:66px;
  height:49px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:16px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4991 {
  position:absolute;
  left:810px;
  top:205px;
  width:231px;
  height:51px;
}
#u4992 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u4993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4993 {
  position:absolute;
  left:1051px;
  top:231px;
  width:29px;
  height:32px;
}
#u4994 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4995 {
  position:absolute;
  left:1051px;
  top:205px;
  width:45px;
  height:16px;
  color:#FF0000;
}
#u4996 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
}
#u4997 {
  position:absolute;
  left:730px;
  top:207px;
  width:66px;
  height:49px;
}
#u4998 {
  position:absolute;
  left:2px;
  top:16px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4999 {
  position:absolute;
  left:718px;
  top:280px;
  width:392px;
  height:51px;
  text-align:left;
}
#u5000 {
  position:absolute;
  left:2px;
  top:2px;
  width:388px;
  word-wrap:break-word;
}
#u5001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5001 {
  position:absolute;
  left:960px;
  top:285px;
  width:140px;
  height:40px;
}
#u5002 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u5003 {
  position:absolute;
  left:956px;
  top:106px;
  width:112px;
  height:115px;
  color:#169BD5;
}
#u5004 {
  position:absolute;
  left:2px;
  top:18px;
  width:108px;
  word-wrap:break-word;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5007 {
  position:absolute;
  left:412px;
  top:45px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u5008 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u5009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u5009 {
  position:absolute;
  left:493px;
  top:54px;
  width:19px;
  height:11px;
}
#u5010 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5012 {
  position:absolute;
  left:545px;
  top:46px;
  width:95px;
  height:26px;
  font-size:18px;
}
#u5013 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u5014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5015 {
  position:absolute;
  left:674px;
  top:47px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u5016 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5018 {
  position:absolute;
  left:784px;
  top:48px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5020 {
  position:absolute;
  left:939px;
  top:48px;
  width:28px;
  height:28px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5023 {
  position:absolute;
  left:0px;
  top:106px;
  width:1110px;
  height:83px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:34px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025 {
  position:absolute;
  left:17px;
  top:127px;
  width:903px;
  height:47px;
}
#u5025_input {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5027 {
  position:absolute;
  left:930px;
  top:127px;
  width:47px;
  height:47px;
}
#u5027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5028 {
  position:absolute;
  left:941px;
  top:136px;
  width:28px;
  height:28px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u5031 {
  position:absolute;
  left:1056px;
  top:118px;
  width:36px;
  height:33px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5033 {
  position:absolute;
  left:1052px;
  top:159px;
  width:44px;
  height:20px;
}
#u5034 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u5035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:36px;
}
#u5036 {
  position:absolute;
  left:1009px;
  top:118px;
  width:22px;
  height:36px;
}
#u5037 {
  position:absolute;
  left:2px;
  top:10px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5038 {
  position:absolute;
  left:998px;
  top:159px;
  width:44px;
  height:20px;
}
#u5039 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u5040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5041 {
  position:absolute;
  left:0px;
  top:106px;
  width:1110px;
  height:83px;
  font-size:16px;
}
#u5042 {
  position:absolute;
  left:2px;
  top:32px;
  width:1106px;
  word-wrap:break-word;
}
#u5044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5045 {
  position:absolute;
  left:55px;
  top:162px;
  width:88px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5046 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u5047 {
  position:absolute;
  left:0px;
  top:162px;
  width:47px;
  height:47px;
}
#u5048 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5049 {
  position:absolute;
  left:77px;
  top:189px;
  width:83px;
  height:20px;
  text-align:left;
}
#u5050 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5051 {
  position:absolute;
  left:57px;
  top:189px;
  width:20px;
  height:20px;
}
#u5052 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5053 {
  position:absolute;
  left:8px;
  top:232px;
  width:69px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u5054 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u5055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5055 {
  position:absolute;
  left:8px;
  top:315px;
  width:53px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u5056 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u5057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5057 {
  position:absolute;
  left:8px;
  top:273px;
  width:69px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u5058 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u5059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5060 {
  position:absolute;
  left:265px;
  top:219px;
  width:121px;
  height:28px;
}
#u5061 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u5062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5062 {
  position:absolute;
  left:386px;
  top:219px;
  width:120px;
  height:28px;
}
#u5063 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u5064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5064 {
  position:absolute;
  left:506px;
  top:219px;
  width:120px;
  height:28px;
}
#u5065 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u5066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5067 {
  position:absolute;
  left:265px;
  top:410px;
  width:400px;
  height:33px;
  font-size:16px;
}
#u5068 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5069 {
  position:absolute;
  left:265px;
  top:273px;
  width:400px;
  height:170px;
}
#u5070 {
  position:absolute;
  left:2px;
  top:48px;
  width:396px;
  word-wrap:break-word;
}
#u5071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5072 {
  position:absolute;
  left:696px;
  top:410px;
  width:400px;
  height:33px;
  font-size:16px;
}
#u5073 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u5074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5074 {
  position:absolute;
  left:696px;
  top:273px;
  width:400px;
  height:170px;
}
#u5075 {
  position:absolute;
  left:2px;
  top:48px;
  width:396px;
  word-wrap:break-word;
}
#u5076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5077 {
  position:absolute;
  left:265px;
  top:600px;
  width:400px;
  height:33px;
  font-size:16px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5079 {
  position:absolute;
  left:265px;
  top:463px;
  width:400px;
  height:170px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:38px;
  width:396px;
  word-wrap:break-word;
}
#u5081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5082 {
  position:absolute;
  left:696px;
  top:600px;
  width:400px;
  height:33px;
  font-size:16px;
}
#u5083 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u5084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5084 {
  position:absolute;
  left:696px;
  top:463px;
  width:400px;
  height:170px;
}
#u5085 {
  position:absolute;
  left:2px;
  top:48px;
  width:396px;
  word-wrap:break-word;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5087 {
  position:absolute;
  left:609px;
  top:668px;
  width:142px;
  height:20px;
}
#u5088 {
  position:absolute;
  left:2px;
  top:2px;
  width:138px;
  white-space:nowrap;
}
